body {
  margin: 0;
}


.disclaimer-strip {
  margin: 0;
  padding: .17rem 0;
  text-align: center;
  background-color: #521B06;
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 3.7px;
}

.navigation-bar {
  display: flex;
}