body {
  margin: 0;
}


.disclaimer-strip {
  margin: 0;
  padding: .001rem 0;
  text-align: center;
  background-color: #521B06;
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 3.7px;
}

.navigation-bar {
  display: flex;
  background-color: #F0E9E6;
  box-shadow: 0 0 20px black;
}

.nav-links {
  margin: 2rem 0  0 20rem;
  display: flex;
  gap: 5rem;
  list-style: none;
}

.hero-image-section {
  display: flex;
}

.hero-image-slides {
  background-image: url('images/Terrarium.jpg');
  background-size: cover;
  height: 90vh;
  width: 55vw;
}

.hero-shop-button {
  padding: 1.2rem 2.4rem;
  border: none;
  background-color: #658E9E;
  border-radius: 7px;
  font-weight: bold;
  color: white;
  font-size: 24px;
}

.logo-section {
  background-image: url('images/STlogo.png');
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 49rem 35rem;
  width: 45vw;
  height: 90vh;
}

.welcome-line {
  margin-top: 3rem;
}

.marketplace-line {
  margin-top: 29rem;
  font-size: 32px;
}